body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 40px;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  flex-wrap: wrap;
}

/* Card */
.card {
  position: relative;
  width: 260px;
  padding: 40px 20px;
  border-radius: 16px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,0.1);

  transition: all 0.4s ease;
  overflow: hidden;
}

/* Glow Border */
.card::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 16px;
  background: linear-gradient(45deg, #3b82f6, #9333ea, #06b6d4);
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
}

/* Hover */
.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

/* Click */
.card:active {
  transform: scale(0.95);
}

/* Icon */
.card i {
  font-size: 40px;
  margin-bottom: 15px;
  display: block;
}

/* Text */
.card h2 {
  margin: 10px 0;
}

.card p {
  color: #cbd5f5;
}


/* HERO */
.hero {
  padding: 80px 20px;
}

.hero button {
  padding: 12px 25px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #3b82f6, #9333ea);
  color: white;
  cursor: pointer;
}

/* SERVICES */
.services {
  margin-top: 80px;
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.service-box {
  width: 220px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  transition: 0.3s;
}

.service-box:hover {
  transform: translateY(-8px);
}

/* ABOUT */
.about {
  margin: 80px 20px;
}

/* CTA */
.cta {
  margin: 60px 0;
}

.cta button {
  padding: 12px 25px;
  background: #06b6d4;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* FOOTER */
footer {
  margin-top: 50px;
  padding: 20px;
  background: #020617;
}

